{{> header }}
<main role="main" class="container text-center">
    <div class="container">
      <br><br><br>
      <h1>Thank you for your payment! <br>You should receive your order in the mail soon!</h1>
    </div>
    <a href="/">Take me back to the homepage!</a>
</main>

