{{> header }}
<div class="container">
    <form method="POST" action="/login" class="form-signin">
        <br><br><br>
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Seller Login</h1>
        </div>

        <div class="form-label-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
        </div>

        <div class="form-label-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>